/*
*
*
*  LARGE SCREEN
*
*/
main {
  font-size: 1em;
}

div.header-container, main > * {
  max-width: 1200px;
  margin: auto;
}

.block {
  height: 50px;
}

div.header-container {
  height: 156px;
}

/* FULL NAME */
header.name {
  margin: 2em;
  font-size: 1.3em;
}

.logo img {
  width: 90px;
  height: 90px;
  padding: 1.5em 0;
}

/* CREATES SPACE WHEN SCREEN IS 801PX+ */
main, .logo img {
  margin-left: 2em;
}

div.main-container {
  display: flex;
  flex-flow: row wrap;
}

aside.main-img {
  width: 50%;
}

aside.main-img img{
  width: 100%;
}

header.introduction {
  margin-left: 1em;
  width: 41%;
  line-height: 1.5;
}

/* FEATURED WORK */
.featured-work {
  display: flex;
  flex-flow: row wrap;
  margin: 2em 4em;
}

.featured-item img {
  width: 90%;
}

@media screen and (min-width: 1201px) {
  main, .logo img {
    max-width: 1200px;
    margin: auto;
  }
}

@media screen and (min-width: 801px) {
  h2 {
    width: 100%;
  }

  .featured-item {
    width: 50%;
    margin: 2em 0;
  }
}
